[submodule "repos/CFDrs"]
	path = repos/CFDrs
	url = https://github.com/ryancinsight/CFDrs.git
[submodule "repos/gaia"]
	path = repos/gaia
	url = https://github.com/ryancinsight/gaia.git
	branch = main
[submodule "repos/apollo"]
	path = repos/apollo
	url = https://github.com/ryancinsight/apollo.git
	branch = main
[submodule "repos/consus"]
	path = repos/consus
	url = https://github.com/ryancinsight/consus.git
	branch = main
[submodule "repos/ritk"]
	path = repos/ritk
	url = https://github.com/ryancinsight/ritk.git
	branch = main
[submodule "repos/mnemosyne"]
	path = repos/mnemosyne
	url = https://github.com/ryancinsight/Mnemosyne.git
	branch = main
[submodule "repos/moirai"]
	path = repos/moirai
	url = https://github.com/ryancinsight/Moirai.git
	branch = main
[submodule "repos/melinoe"]
	path = repos/melinoe
	url = https://github.com/ryancinsight/melinoe.git
[submodule "repos/coeus"]
	path = repos/coeus
	url = https://github.com/ryancinsight/Coeus.git
	branch = main
[submodule "repos/hermes"]
	path = repos/hermes
	url = https://github.com/ryancinsight/hermes.git
	branch = main
[submodule "repos/leto"]
	path = repos/leto
	url = https://github.com/ryancinsight/leto.git
	branch = main
[submodule "repos/themis"]
	path = repos/themis
	url = https://github.com/ryancinsight/themis.git
	branch = main
[submodule "repos/hephaestus"]
	path = repos/hephaestus
	url = https://github.com/ryancinsight/hephaestus.git
[submodule "repos/eunomia"]
	path = repos/eunomia
	url = https://github.com/ryancinsight/eunomia.git
[submodule "repos/kwavers"]
	path = repos/kwavers
	url = https://github.com/ryancinsight/kwavers.git
	branch = main
